{% extends "base.html" %}

{% block title %}{{ view.object.character.ring_name|default:"Add Participant" }}{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">
    {% if view.object %}Edit Participant{% else %}Add Participant{% endif %}
</h1>

<form method="post" class="space-y-4">
    {% csrf_token %}
    
    {% for field in form %}
        <div class="mb-4">
            <label class="block font-semibold mb-2">
            {{ field.label }}
            </label>
            {{ field }}
        </div>
    {% endfor %}

    <button type="submit" class="bg-black text-white px-4 py-2 rounded">
        {% if view.object %}Update{% else %}Add{% endif %}
    </button>
</form>

{% if view.object %}
<button onclick="window.location='{% url 'event-detail' view.object.event.id %}'" class="bg-gray-600 text-white px-4 py-2 rounded mt-4 inline-block cursor-pointer">Back to Event</button>
{% else %}
<button onclick="window.location='{% url 'event-detail' form.initial.event.id %}'" class="bg-gray-600 text-white px-4 py-2 rounded mt-4 inline-block cursor-pointer">Back to Event</button>
{% endif %}
{% endblock %}
