{% extends "base.html" %}

{% block title %}{{ view.object.title|default:"Add Event" }}{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">
    {% if view.object %}Edit Event{% else %}Add Event{% endif %}
</h1>

<form method="post" class="space-y-4">
    {% csrf_token %}
    
    {% for field in form %}
        <div class="mb-4">
            <label class="block font-semibold mb-2">
            {{ field.label }}
            </label>
            {{ field }}
        </div>
    {% endfor %}

    <button type="submit" class="bg-black text-white px-4 py-2 rounded">
        {% if view.object %}Update{% else %}Create{% endif %}
    </button>
</form>

{% if show %}
<a href="{% url 'show-detail' show.id %}" class="text-blue-600 mt-4 inline-block">Back to Show</a>
{% elif form.instance.show %}
<a href="{% url 'show-detail' form.instance.show.id %}" class="text-blue-600 mt-4 inline-block">Back to Show</a>
{% endif %}
{% endblock %}
