{% extends "base.html" %}

{% block title %}Simulate {{ match.title }}{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">Simulate Match: {{ match.title }}</h1>

<form method="post" class="space-y-4">
    {% csrf_token %}

    {% for field in form %}
        <div class="mb-4">
            <label class="block font-semibold mb-2">
            {{ field.label }}
            </label>
            {{ field }}
        </div>
    {% endfor %}


    <button type="submit" class="bg-black text-white px-4 py-2 rounded">Save Result</button>
</form>

<a href="{% url 'match-detail' match.id %}" class="text-blue-600 mt-4 inline-block">Back to Match</a>
{% endblock %}
